[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "BVSNLP"]
	path = BVSNLP
	url = https://github.com/cran/BVSNLP
	shallow = true
	registered = true
